{% extends "faqapp/layout.html" %}
{% block body %}
<!-- Título centralizado -->
        <h2 class="titulo-duvida">Qual sua dúvida?</h2>
        
        <!-- Formulário de busca com botão em cinza -->
        <form method="GET" action="{% url 'busca_categoria' %}" class="search-bar-form mb-4">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" name="q" placeholder="Buscar categoria..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-secondary btn-sm">Buscar</button>
            </div>
        </form>

        
    {% if not request.GET.q %}
    <!-- Esses links só aparecerão se a busca não for acionada -->
    <a href="https://www.challengermode.com/help" class="categoria-link-wrapper">
        <div class="categoria-box">
            Dúvidas challengermode?
        </div>
    </a>   
    {% endif %}

    {% for cat in categorias %}
        <a href="{% url 'categoria' cat.titulo %}" class="categoria-link-wrapper">
            <div class="categoria-box">
                {{cat.titulo}}
            </div>
        </a>
    {% endfor %}

    {% if not request.GET.q %}
    <a href="{% url 'formulario' %}" class="categoria-link-wrapper">
        <div class="categoria-box">
            Formulários de solicitação
        </div>
    </a> 
    {% endif %}

    {% if not request.GET.q %}
    <!-- Esses links só aparecerão se a busca não for acionada -->
    <a href="https://discord.com/channels/1297304929328828486/1297304929328828490" class="categoria-link-wrapper">
        <div class="categoria-box">
            Ainda precisa de ajuda? Fale com um moderador!
        </div>
    </a>   
    {% endif %}

{% endblock %}