{% extends "faqapp/layout.html" %}
{% block body %}
<!-- Título centralizado -->
        <h2 class="titulo-duvida">Qual sua dúvida?</h2>
        
        <!-- Formulário de busca com botão em cinza -->
        <form method="GET" action="{% url 'busca_categoria' %}" class="search-bar-form mb-4">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" name="q" placeholder="Buscar categoria..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-secondary btn-sm">Buscar</button>
            </div>
        </form>
    {% for cat in categorias %}
        <a href="{% url 'categoria' cat.titulo %}" class="categoria-link-wrapper">
            <div class="categoria-box">
                {{cat.titulo}}
            </div>
        </a>
    {% endfor %}
    <a href="{% url 'formulario' %}" class="categoria-link-wrapper">
        <div class="categoria-box">
            Precisa solicitar algo específico?
        </div>
    </a>
{% endblock %}